<a href="https://colab.research.google.com/github/HrushikeshAher/demo-repo2/blob/master/Pandas_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Python Pandas***


1. Pandas is used for Data Analysis.
2. It has rich set of functions.
3. Pandas has two typeof data structure:
  1. Series:
  Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)

  2. DataFrame:
  DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dict1={
    'name':['Hrushikesh','Vikas'],
    'marks':[98,85],
    'city':['Ahmednagar','Sangole'],
    'Country':'India'
}

In [ ]:
dict1['marks']

[98, 85]

In [ ]:
pd_dict1=pd.DataFrame(dict1)

In [ ]:
pd_dict1

         name  marks        city Country
0  Hrushikesh     98  Ahmednagar   India
1       Vikas     85     Sangole   India

In [ ]:
pd_dict1.to_csv('Friends.csv',index=False)

In [ ]:
pd_dict1.head(1)

         name  marks        city Country
0  Hrushikesh     98  Ahmednagar   India

In [ ]:
pd_dict1.tail(1)

    name  marks     city Country
1  Vikas     85  Sangole   India

In [ ]:
pd_dict1.describe()

           marks
count   2.000000
mean   91.500000
std     9.192388
min    85.000000
25%    88.250000
50%    91.500000
75%    94.750000
max    98.000000

In [ ]:
import_csv=pd.read_csv('Friends.csv')

In [ ]:
import_csv

              name  marks        city Country
first   Hrushikesh     99  Ahmednagar   India
second       Vikas     85     Sangole   India

In [ ]:
import_csv['marks'][0]=99

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
import_csv.to_csv('Friends.csv')

In [ ]:
import_csv.index=['first','second']

In [ ]:
type(import_csv)

pandas.core.frame.DataFrame

In [ ]:
type(import_csv['name'])

pandas.core.series.Series

In [ ]:
ser= pd.Series(np.random.rand(40))

In [ ]:
ser

0     0.186584
1     0.537089
2     0.523542
3     0.973121
4     0.023445
5     0.321285
6     0.108688
7     0.901691
8     0.070020
9     0.118161
10    0.344660
11    0.955555
12    0.385529
13    0.016236
14    0.158382
15    0.111283
16    0.402429
17    0.845262
18    0.502720
19    0.905402
20    0.895784
21    0.014676
22    0.427293
23    0.746410
24    0.444001
25    0.918298
26    0.365822
27    0.664428
28    0.919141
29    0.825274
30    0.861023
31    0.540113
32    0.783584
33    0.197149
34    0.681925
35    0.668934
36    0.085411
37    0.340347
38    0.325922
39    0.165826
dtype: float64

In [ ]:
type(ser)

pandas.core.series.Series

In [ ]:
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
newdf.head()

           0         1         2         3         4
0        0.2  0.143074  0.070045  0.129558  0.948316
1   0.544827  0.437922  0.653249  0.802819  0.101183
2  0.0590584  0.130112  0.186997  0.644602  0.091079
3   0.225236  0.297302  0.830568  0.039246  0.867138
4   0.589429  0.818672  0.738312  0.773098  0.501009

In [ ]:
newdf.tail()

            0         1         2         3         4
329  0.687815  0.364167  0.889279  0.626125  0.194622
330  0.898140  0.957488  0.484288  0.524652  0.959502
331  0.991040  0.415222  0.712595  0.809010  0.538805
332  0.369850  0.568933  0.078308  0.912924  0.113661
333  0.502281  0.572894  0.212238  0.100042  0.262723

In [ ]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

                1           2           3           4
count  334.000000  334.000000  334.000000  334.000000
mean     0.498639    0.496078    0.482946    0.495746
std      0.291462    0.293485    0.283345    0.286089
min      0.008116    0.005076    0.000126    0.001984
25%      0.224508    0.233289    0.232295    0.249794
50%      0.501244    0.478920    0.483318    0.484874
75%      0.757583    0.757936    0.703289    0.741007
max      0.996331    0.998914    0.999500    0.989897

In [ ]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [ ]:
newdf[0][0]=0.2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [ ]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [ ]:
newdf.to_numpy

<bound method DataFrame.to_numpy of              0         1         2         3         4
0          0.2  0.143074  0.070045  0.129558  0.948316
1     0.544827  0.437922  0.653249  0.802819  0.101183
2    0.0590584  0.130112  0.186997  0.644602  0.091079
3     0.225236  0.297302  0.830568  0.039246  0.867138
4     0.589429  0.818672  0.738312  0.773098  0.501009
..         ...       ...       ...       ...       ...
329   0.687815  0.364167  0.889279  0.626125  0.194622
330    0.89814  0.957488  0.484288  0.524652  0.959502
331    0.99104  0.415222  0.712595  0.809010  0.538805
332    0.36985  0.568933  0.078308  0.912924  0.113661
333   0.502281  0.572894  0.212238  0.100042  0.262723

[334 rows x 5 columns]>

In [ ]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.T

        0         1          2    ...       331        332       333
0       500  0.544827  0.0590584  ...   0.99104    0.36985  0.502281
1  0.143074  0.437922   0.130112  ...  0.415222   0.568933  0.572894
2  0.070045  0.653249   0.186997  ...  0.712595  0.0783077  0.212238
3  0.129558  0.802819   0.644602  ...   0.80901   0.912924  0.100042
4  0.948316  0.101183  0.0910794  ...  0.538805   0.113661  0.262723

[5 rows x 334 columns]

In [ ]:
newdf.head()

           H         r         u         s           h
0        111  0.143074  0.070045  0.129558  112.000000
1   0.544827  0.437922  0.653249  0.802819    0.101183
2  0.0590584  0.130112  0.186997  0.644602    0.091079
3   0.225236  0.297302  0.830568  0.039246    0.867138
4   0.589429  0.818672  0.738312  0.773098    0.501009

In [ ]:
newdf.sort_index(axis=1,ascending=False)

            4         3         2         1          0
0    0.948316  0.129558  0.070045  0.143074        0.2
1    0.101183  0.802819  0.653249  0.437922   0.544827
2    0.091079  0.644602  0.186997  0.130112  0.0590584
3    0.867138  0.039246  0.830568  0.297302   0.225236
4    0.501009  0.773098  0.738312  0.818672   0.589429
..        ...       ...       ...       ...        ...
329  0.194622  0.626125  0.889279  0.364167   0.687815
330  0.959502  0.524652  0.484288  0.957488    0.89814
331  0.538805  0.809010  0.712595  0.415222    0.99104
332  0.113661  0.912924  0.078308  0.568933    0.36985
333  0.262723  0.100042  0.212238  0.572894   0.502281

[334 rows x 5 columns]

In [ ]:
newdf[0]

0            0.2
1       0.544827
2      0.0590584
3       0.225236
4       0.589429
         ...
329     0.687815
330      0.89814
331      0.99104
332      0.36985
333     0.502281
Name: 0, Length: 334, dtype: object

In [ ]:
newdf2=newdf.copy()

In [ ]:
newdf2[0][0]=100

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
newdf.loc[0,0]=111

In [ ]:
newdf.columns=list('Hrush')

In [ ]:
newdf.loc[0,'h']=112

In [ ]:
newdf.drop(0,axis=0)

             H         r         u         s         h
1     0.544827  0.437922  0.653249  0.802819  0.101183
2    0.0590584  0.130112  0.186997  0.644602  0.091079
3     0.225236  0.297302  0.830568  0.039246  0.867138
4     0.589429  0.818672  0.738312  0.773098  0.501009
5     0.725636  0.959342  0.200483  0.803730  0.547622
..         ...       ...       ...       ...       ...
329   0.687815  0.364167  0.889279  0.626125  0.194622
330    0.89814  0.957488  0.484288  0.524652  0.959502
331    0.99104  0.415222  0.712595  0.809010  0.538805
332    0.36985  0.568933  0.078308  0.912924  0.113661
333   0.502281  0.572894  0.212238  0.100042  0.262723

[333 rows x 5 columns]

In [ ]:
newdf.loc[[2,3],['h','r']]

          h         r
2  0.091079  0.130112
3  0.867138  0.297302

In [ ]:
newdf.loc[(newdf['H']>0.2) & (newdf['r']>0.4)]

            H         r         u         s         h
1    0.544827  0.437922  0.653249  0.802819  0.101183
4    0.589429  0.818672  0.738312  0.773098  0.501009
5    0.725636  0.959342  0.200483  0.803730  0.547622
7    0.868663  0.576808  0.415635  0.688724  0.867568
9    0.507806  0.673595  0.668015  0.687675  0.841733
..        ...       ...       ...       ...       ...
328  0.455595  0.739330  0.343687  0.465604  0.740560
330   0.89814  0.957488  0.484288  0.524652  0.959502
331   0.99104  0.415222  0.712595  0.809010  0.538805
332   0.36985  0.568933  0.078308  0.912924  0.113661
333  0.502281  0.572894  0.212238  0.100042  0.262723

[161 rows x 5 columns]

In [ ]:
newdf.iloc[[0,0],[2,2]]

          u         u
0  0.070045  0.070045
0  0.070045  0.070045

In [ ]:
newdf.drop([1,5],axis=0,inplace=True)

In [ ]:
newdf.reset_index(inplace=True)

In [ ]:
newdf['r'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
327    False
328    False
329    False
330    False
331    False
Name: r, Length: 332, dtype: bool

In [ ]:
newdf.loc[:,'h']=None

In [ ]:
newdf

     level_0  index          H     r         u         s     h
0          0      0        111  None  0.070045  0.129558  None
1          1      2  0.0590584  None  0.186997  0.644602  None
2          2      3   0.225236  None  0.830568  0.039246  None
3          3      4   0.589429  None  0.738312  0.773098  None
4          4      6   0.745075  None  0.059925  0.621218  None
..       ...    ...        ...   ...       ...       ...   ...
327      327    329   0.687815  None  0.889279  0.626125  None
328      328    330    0.89814  None  0.484288  0.524652  None
329      329    331    0.99104  None  0.712595  0.809010  None
330      330    332    0.36985  None  0.078308  0.912924  None
331      331    333   0.502281  None  0.212238  0.100042  None

[332 rows x 7 columns]