<a href="https://colab.research.google.com/github/HrushikeshAher/demo-repo2/blob/master/Python_Mysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Database Connection

In [ ]:
import mysql.connector

In [ ]:
mydb=mysql.connector.connect(user='root', password='Root',host='localhost')

In [ ]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000295D87834C8>

In [ ]:
if mydb:
    print('Connection Successful!!')
else:
    print('Not Connected!')

Connection Successful!!

# Database Creation

In [ ]:
mycursor=mydb.cursor()

In [ ]:
mycursor

In [ ]:
#mycursor.execute('Create database Learn_Python')

In [ ]:
mycursor.execute('show databases')

In [ ]:
for db in mycursor:
    print(db)

('information_schema',)
('learn_python',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
mycursor.execute('use Learn_Python')

In [ ]:
mycursor.execute('drop table person')

In [ ]:
mycursor.execute('create table Person(ID int(6),FirstName varchar(15),LastName varchar(15),MobileNo int(10),Email varchar(50))')

In [ ]:
mycursor.execute('show tables')

In [ ]:
for db in mycursor:
    print(db)

('person',)

In [ ]:
mycursor.execute("insert into person values(1001,'Hrushikesh','Aher',997506271,'hrushi.aher@gmail.com')")

In [ ]:
mycursor.execute("insert into person values(1002,'Hrushikesh2','Aher2',997506272,'hrushi.aher@gmail.com2')")

In [ ]:
mycursor.execute("Select * from person")

In [ ]:
for ID,FName,LName,MobileNo,EmailID in mycursor:
    print('ID: ',ID,'First Name: ',FName,'Last Name: ',LName,'Mobile No: ',MobileNo,'Email ID: ',EmailID)

ID:  1001 First Name:  Hrushikesh Last Name:  Aher Mobile No:  997506271 Email ID:  hrushi.aher@gmail.com
ID:  1002 First Name:  Hrushikesh2 Last Name:  Aher2 Mobile No:  997506272 Email ID:  hrushi.aher@gmail.com2

In [ ]:
myresult=mycursor.fetchone()

In [ ]:
for row in myresult:
    print(row)

1001
Hrushikesh
Aher
997506271
hrushi.aher@gmail.com

In [ ]:
myresult=mycursor.fetchall()

In [ ]:
for row in myresult:
    print(row)

(1001, 'Hrushikesh', 'Aher', 992219318, 'hrushi.aher@gmail.com')

In [ ]:
mycursor.execute("update person set MobileNo=992219318 where FirstName='Hrushikesh'")

In [ ]:
mydb.commit()

In [ ]:
mycursor.execute("Delete from person where FirstName='Hrushikesh2'")